@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Outfit, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff8f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.custom-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #48352b;
  cursor: pointer;
}
.custom-slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #48352b;
  cursor: pointer;
}

.custom-slider::-moz-range-progress,
.custom-slider::-webkit-progress-bar,
.custom-slider::-webkit-progress-value,
.custom-slider::-webkit-progress-inner-value,
.custom-slider::-moz-progress-bar,
.custom-slider::-webkit-progress-inner-element {
  -webkit-appearance: none;
  background-color: #72ada0;
  border-radius: 1rem;
  height: 100%;
}
